<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{normal/user_base::layout(~{::body})}">

<head>
	<meta charset="UTF-8" />
	<title>User Dashboard</title>
</head>

<body class="user-dashboard-body">

	<div class="container">

		<div class="card">

			<div class="card-body"></div>
			<h2 class="ml-3 font-italic">Hi <span th:text="${user.name}"></span>!</h2>
			<div class="container text-center">
				<img th:src="@{'/images/contact-logo.png'}" alt=""
					style="height: 170px; width: 170px;border-radius: 50%;" />
			</div>

			<h4 class="text-center mt-4 text-secondary font-italic">Start adding your contact on cloud...</h4>


			<a th:href="@{/user/add-contact}" class="btn btn-primary font-italic mt-3 mb-5">
				Add New Contact

			</a>


		</div>


	</div>

	<script>

        $(document).ready(()=>{
			
			$('.item').removeClass('active');
			$('#home-link').addClass('active');
			
		});

	</script>


</body>

</html>