<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{base::layout(~{::section})}">

<head>
	<meta charset="UTF-8" />
	<title>Registration Page</title>
</head>

<body>

	<section>
		<div class="container">
			<div class="row">
				<div class="col-md-6 offset-md-3">
					<div class="my-card">
						<div th:if="${session.message}" th:classappend="" class="alert alert-primary" role="alert">
							This is a primary alert—check it out!
						</div>
						<h1 class="text-center"><img src="" th:src="@{/Images/scm1.jpg}" alt="Image not available" height="60" width="80" /></h1>
						<form action="" th:action="@{/do_signup}" method="post" th:object="${user}">
							<!--Name field-->
							<div class="form-group">
								
								<label for="name-field">Name</label>
								
								<input
								 name="name" 
								 type="text"
								 class="form-control" 
								 id="name-field"
								 aria-describedby="nameHelp"
							     placeholder="Enter name"
							     required
							     th:value="${user.name}"
							     />
							</div>
								
								<!--Email field-->
								<div class="form-group">
									
									<label for="email-field">Email address</label>
									
									<input 
									 name="email"
									 class="form-control" 
									 id="email-field"
									 aria-describedby="emailHelp"
								     placeholder="Enter email"
								     required
						             th:value="${user.email}"
								    
								     />
									
								</div>
								<!--Password field-->
								<div class="form-group">
									
									<label for="password-field">Password</label>
									
									<input 
									name="password"
									type="password" 
									class="form-control" 
									id="password-field"
									placeholder="Password"
									required>
									
								</div>
								
								<!--User About Field-->
								
								<div class="form-group">
									<textarea 
								   name="description"  th:value="${user.description}"	placeholder="Enter something about yourself" rows="7" class="form-control"></textarea>
								</div>
								
								<!--This is terms and conditions field-->
								<div class="form-group form-check text-center">
									<input 
									type="checkbox" 
									name="agreement"
									class="form-check-input"
									id="agreement"
									required
									/>
									<label for="agreement">I accept all terms and conditions</label>
								</div>
								
								<div class="container text-center">
									
									<button type="submit" class="btn bg-primary text-white">Submit</button>
									<button type="reset" class="btn btn-warning text-black">Reset</button>
									
								</div>
								
							
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>
</body>

</html>